.selectbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  .province, .city, .county, .town {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate3d(100%, 0, 0);
    transition: all .4s;
    background: #FFFFFF;
    .wrapper {
      position: absolute;
      top: .98rem;
      left: 0;
      bottom: 0;
      width: 100%;
      overflow: scroll;
      .item {
        width: 100%;
        height: .8rem;
        padding: 0 .24rem;
        line-height: .8rem;
        font-size: .28rem;
        border-bottom: 1px solid #dddddd;
        .icon {
          width: .15rem;
          height: .3rem;
          margin-top: .25rem;
        }
      }
    }
  }
  .active {
    transform: translate3d(0,0,0);
  }
}