.root {
  background: #FFFFFF;
  height: .9rem;
  padding: 0 .2rem;
  display: flex;
  align-items: center;
}

.searchBar{
  background: #ededed;
  height: .6rem;
  flex-grow: 1;
  border-radius: .1rem;
  color: #a9a9a9;
  &:hover, &:active {
    color: #a9a9a9;
  }
  span {
    width: .4rem;
    margin-left: .1rem;
  }
  img {
    width: 100%;
  }
  p {
    font-size: .3rem;
    margin-left: .08rem;
  }
}

.categoryIcon {
  width: .48rem;
  margin-left: .15rem;
  img{
    width: 100%;
  }
}