.fixBg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
}

.popupBg {
  width: 80%;
  height: 5.5rem;
  border-radius: .2rem;
  z-index: 9999;
  background: white;
  text-align: center;
  .warningtitle{
    width:100%;
    height:.8rem;
    line-height:.8rem;
    margin-top: .2rem;
    text-align: center;
  }
  .warninglist{
    width:100%;
    height:3.5rem;
    overflow-y:scroll;
    padding:0 4%;
    .warningul{
      width:100%;
      .warningli{
        display: flex;
        justify-content: space-between;
        width:100%;
        border-bottom: 1px solid #dcdcdc;
        .warningpic{
          width:1rem;
          img{
            width:100%;
          }
        }
        .listdetail{
          flex:1;
          margin-left: .2rem;
          text-align: left;
          .goodsname{
            font-weight: bold;
            margin-top: .03rem;
            margin-bottom: .04rem;
          }
        }
      }
    }
  }
  .footerbtn{
    display: flex;
    justify-content: space-between;
    width:100%;
    height:1rem;
    line-height:1rem;
    padding: 0 4%;
    .cancelbtn{
      margin-right:5%;
      width:38%;
      height:.8rem;
      line-height:.8rem;
      border:.01rem solid #333;
      border-radius: .08rem;
      color:#333;
    }
    .removebtn{
      flex: 1;
      height:.8rem;
      line-height:.8rem;
      background: #fd5303;
      border-radius: .1rem;
      color:#fff;
    }
  }
}
