.topCon{
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 1rem;
  top: .98rem;
  color: #ffffff;
  justify-content: space-between;
  .leftCon{
    height: 1rem;
    position: absolute;
    left: 0;
    padding-left:.24rem;
  }
  .rightCon{
    height: 1rem;
    position: absolute;
    right: 0;
    padding-right:.24rem;
  }
}
.historyWapper {
  width: 100%;
  background: #FFFFFF;
  .title {
    height: .5rem;
    line-height: .5rem;
    padding-left: .24rem;
    font-size: .24rem;
    color: #828282;
    background: #f7f7f7;
  }
  .historyItem {
    display: flex;
    width: 100%;
    height: 1.2rem;
    margin-left: .24rem;
    border-bottom: 1px solid #dddddd;
    &:last-child{
      border: none;
    }
    .detail {
      flex: 1;
      .icon {
        display: inline-block;
        width: .8rem;
        height: .8rem;
        vertical-align: middle;
        box-sizing: border-box;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
      .price {
        position: relative;
        top: .2rem;
        display: inline-block;
        padding-left: .2rem;
        font-size: 0;
        .amount {
          font-size: .28rem;
          font-weight: 500;
          color: #333333;
        }
        .remark {
          font-size: .2rem;
          color: #828282;
        }
      }
    }
    .time {
      flex: 0 0 1.5rem;
      line-height: 1rem;
    }
  }
}