.content {
  width: 100%;
  height: .98rem;
  background-color: #FFFFFF;

  .back {
    width: 1rem;
    height: 100%;
    position: absolute;

    img {
      width: .15rem;
    }
  }

  p {
    width: 68%;
    margin: auto;
  }
  .order{
    width: 1rem;
    height: 100%;
    position: absolute;
    right: 0;

    img {
      width: .38rem;
    }
  }
}
.container {
  position: absolute;
  width: 100%;
  top: .98rem;
  left: 0;
  bottom: 2.1rem;
  overflow: scroll;
  &.bottom1 {
    bottom: 1rem;
  }
  .cartWrapper {
    margin-top: .2rem;
    width: 100%;
    background-color: #FFFFFF;

    .header {
      width: 100%;
      height: .88rem;

      .checkPanel {
        width: 1rem;
        height: 100%;

        img {
          width: .4rem;
          height: .4rem;
        }
      }

      .title {
        flex-grow: 1;
        height: 100%;


        i {
          display: inline-block;
          width: .25rem;
          height: .3rem;
          vertical-align: sub;
          margin-right: .15rem;
        }
      }
    }
    .detailWrapper {
      position: relative;
      width: 100%;
      height: 1.65rem;
      .checkPanel {
        width: 1rem;
        height: 100%;
        float: left;

        img {
          width: .4rem;
          height: .4rem;
        }
      }
      .detail {
        flex: 1;
        height: 100%;
        border-top: 1px solid #eeeeee;

        .title {
          width: 65vw;
        }

        .thumb {
          width: 1.2rem;
          height: 1.2rem;
          background-color: #FFFFFF;
        }

        .info {
          flex-grow: 1;
          height: 100%;
          padding: .2rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .price {
            flex-grow: 1;
            align-items: flex-end;


          }

        }
      }
      .numCtrl {
        position: absolute;
        bottom: .15rem;
        right: .2rem;
        width: 2rem;
        height: .6rem;
        border: 1px solid #eeeeee;
        border-radius: 6px;
        display: flex;

        .num {
          width: .6rem;
          height: .6rem;
          border-left: 1px solid #eeeeee;
          border-right: 1px solid #eeeeee;
        }

        .des, .add {
          width: .7rem;
          height: 100%;

          img {
            width: .2rem;
          }
        }
      }
      .invalid {
        position: absolute;
        right: .2rem;
        bottom: .2rem;
      }
    }
  }
}
