.root {
  width: 100%;
  height: 2.88rem;
  background: url("../../../../images/mine/mine_bg.png");
  display: flex;
  align-items: center;
  padding: 0 .24rem;
  padding-top: .88rem;

  .avator {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: .3rem;
    background-color: #FFFFFF;

    img {
      min-width: 100%;
      height: 100%;
    }
  }

  p {
    font-size: .3rem;
    color: #FFFFFF;
  }

  .arrowPanel {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;

    .arrowRight {
      width: .14rem;
      height: .29rem;

      img {
        width: 100%;
      }
    }
  }
}